.why{
	height:380px;
	background-color: #f2f2f2;
	padding-top: 60px;
}
.what{
	height:380px;
	background-color: white;
	padding-top: 60px;
}
.footer{
	height: 300px;
	background-color:rgb(59,58,57);
}